
body {
  margin: 0;
  background-color: #272822;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

h1 {
  text-align: center;
}

.indented {
  padding-left: 20px;
}

a, a:visited, a:hover, a:active {
  color: white;
}

div.button {
  border-radius: 10px;
  background-color: darkred;
  width: 20%;
  margin-left: 35%;
  color: white;
  padding: 20px 5%;
}