.wrapper {
    width: 960px;
    margin: 0 auto;
}

.header {
    float: left;
    width: 100%;
    background-color: white;
    text-align: center;
}

.main {
    float: left;
    width: 100%;
    height: 525px;
}

.fotter{
    float: left;
    width: 100%;
    text-align: right;
    background-color: white;
}

#starwall {
    background-image: url(../img/stars.jpg);
    z-index: -3;
}

.base {
    width: 35%; /* tamaño de la base definido */
}

.nave {
    width: 10%; /* tamaño de la nave definido */
}

#StarKiller {
    position: absolute;
    top: 100px;
    left: 30%;
}

/* --------------------- Animaciones -------------------------- */

#Xwing {
    position: fixed;
    top: 200px;
    left: 10%;
    z-index: 1;
    animation: volar 9s ease-in-out infinite;
}

@keyframes volar {
    0% {
        top: 200px;
        left: 10%;
        z-index: 1;
        transform: rotate(0deg) translateX(5px) translateY(120px) rotate(-30deg) scale(1);
    }
    
    25% {
        top: 400px;
        left: 37%;
        width: 20%;
        z-index: 1;
        transform: rotate(90deg) translateX(5px) translateY(120px) rotate(-90deg) scale(.75);
    }
    
    50% {
        top: 200px;
        left: 80%;
        width: 10%;
        z-index: -1; /* pasa por detrás */
        transform: rotate(180deg) translateX(5px) translateY(120px) rotate(180deg) scale(.60);
    }
    
    75% {
        top: 90px;
        left: 42%;
        z-index: -1; /* pasa por detrás */
        transform: rotate(270deg) translateX(5px) translateY(120px) rotate(-270deg) scale(.75);
    }
    
    100% {
        top: 200px;
        left: 10%;
        z-index: -1; /* pasa por detrás */
        transform: rotate(360deg) translateX(5px) translateY(120px) rotate(-30deg) scale(1);
    }
}

/* --------------------- Animaciones -------------------------- */
